*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    min-height: 100vh;
    min-width: 100vw;

    background-color: #36416A;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1, .text2{
    height: 10%;
    width: 35vw;
    margin-bottom: 1rem;
    color: white;
    
}
.text1{
    font-size: 3rem;
}
.text2{
    font-size: 1.2rem;
}
.mainBox{
    width: 35vw;
    height: 35vh;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1, .box2, .box3, .box4{
    width: 90%;
    height: 3rem;
    padding: 1rem;
    
    display: flex;
    align-items: center;
}
.image1, .image2{
    width: 1.5rem;
    height: 3rem;
    object-fit: contain;
}

.input1, .input2{
    margin-left: 1rem;
    width: calc(100% - 1rem);
    border: none;
    height: 2rem;
    border-bottom: 1px solid #AAAAAA;

    color: #737373;
    font-size: 1rem;
    padding: 0 .5rem;
}
.input1:focus, .input2:focus{
    outline: none;
}

.box3{
    font-size: 1rem;
    color: #737373;
}
.text3{
    color: #36416A;
    text-decoration: underline;
    margin-left: .4rem;
}

.box4{
    flex-direction: row-reverse;
}
.button1{
    background-color: #36416A;
    width: 5rem;
    height: 2rem;
    border-radius: 2rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error{
    height: 1rem;
    width: calc(90% - 1rem);
    margin-left: 6rem;
    color: red;

}

@media screen and (max-width: 600px) {
    .mainBox{
        width: 90vw;
        /* height: 90vh; */
    }
    .text1{
        font-size: 1.5rem;
        width: 88vw;
    }
    .text2{
        font-size: 1rem;
        width: 90vw;
    }
}
